@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-shadow: #333;
  background-image: url("../assets/imgs/background-login.jpg");
  background-size: cover;
  background-position: center;
}

.container{
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
  border-radius: 1%;
}

.container .cover{
  position: absolute;
  top: 0;
  right: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: right;
  transform-style: preserve-3d;
}

.container #flip:checked ~ .cover{
  transform: rotateY(180deg);
}

.container .cover .front,
.container .cover .back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover .back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.container .cover::before,
.container .cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #007BFF; 
  opacity: 0.5;
  z-index: 12;
}

.container .cover::after{
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.container .cover .text{
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}

.container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}

.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}

.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #007BFF; 
}

.forms .signup-form  .title:before{
  width: 20px;
}

.forms .form-content .input-boxes{
  margin-top: 30px;
}

.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box button {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  color: #007BFF;
  font-size: 17px;
  cursor: pointer;
  bottom: 35px;
}

.form-content .input-box input {
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  flex-grow: 1;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #007BFF; 
}

.form-content .input-box i{
  position: absolute;
  color: #007BFF; 
  font-size: 17px;
}

.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.forms .form-content .text a{
  text-decoration: none;
}

.forms .form-content .text a:hover{
  text-decoration: underline;
}

.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}

.forms .form-content .button input{
  color: #fff;
  background: #007BFF; 
  border-radius: 6px;
  padding: 10px 20px; /* Ubah angka ini sesuai dengan kebutuhan Anda */
  cursor: pointer;
  transition: all 0.4s ease;
}

.forms .form-content .button input:hover{
  background: #0056b3;
}

.forms .form-content label{
  color: #007BFF; 
  cursor: pointer;
}

.forms .form-content label:hover{
  text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}

.container #flip{
  display: none;
}

@media (max-width: 730px) {
  .container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .container #flip:checked ~ .forms .login-form{
    display: none;
  }
}

/* CSS untuk pop-up */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background-color: #fff;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup h2 {
  text-align: center;
}

.terms-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.scrollable-content {
  max-height: 100%;
}

.terms-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.terms-buttons button {
  margin: 0 10px;
}